.animation{
    animation: fadeIn 0.7s;
}

.main-container{
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
    }
}